<footer class="snap">
    <div class="reveal mx-auto max-w-[133rem] pt-12 px-3 sm:px-6 sm:pt-6 lg:px-10">
        <div class="bg-[#000000e8] flex flex-col items-center gap-10 mb-4 pb-14 lg:pb-10 border-2 border-white">
            <img class="pt-16" src="../images/icons8-crown-50.png" alt="">
            <h2 class="font-bold text-3xl text-textwhite text-center">SUBSCRIBE TO OUR NEWSLETTER!</h2>
            <form class="flex flex-col gap-4" action="">
                <label for="news-email"><input class="bg-black border-white border-2 px-4 py-2 text-textwhite" type="email" placeholder="Enter your Email" name="news-email" id="news-email"></label>
                <label for="submit"><input id="submit" class="w-[100%] hover:cursor-pointer active:opacity-25 bg-black border-white border-2 px-4 py-2 text-textwhite" type="submit"></label>
            </form>
            <div class="flex flex-col gap-7 items-center mt-10">
                <h2 class="font-bold text-3xl text-textwhite">KING AUTOS</h2>
                <div class="flex gap-8">
                    <img src="../images/small/icons8-facebook-50.png" alt="facebook">
                    <img src="../images/small/icons8-instagram-50.png" alt="instagram">
                    <img src="../images/small/icons8-twitter-50.png" alt="twitter">
                </div>
                <h3 class="font-semibold text-center text-textwhite">© 2024 KING AUTOS <br> MADE BY <br> VIKAS SINGH MANN</h3>
            </div>
        </div>
        </div>
    </footer>