<header class="mx-auto max-w-[133rem]">
    <div class="header">
        <div>
            <img class="fill-white" width="45" src="../images/icons8-crown-50.png" alt="King Automobiles logo">
        </div> 
        </div>
        <button class="hamburger">
            <div class="bar"></div>
        </button>
    
</header>
<div class="mob-page">
    <a class="mob-links" href="/">Home</a>
    <a class="mob-links" href="#about">About Us</a>
    <a class="mob-links" href="#repair">Repair</a>
    <a class="mob-links" href="#wheels">Wheels</a>
    <a class="mob-links" href="/inventory.page">Inventory</a>
    <a class="mob-links" href="/sell.page">Sell Your Car</a>
</div>