:root {
    --color-primary:#099e66;
    --color-textwhite:white;
    --color-textblack:black;
    --color-secondary:black;
}
html {
    scroll-behavior: smooth!important;
}
body {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
.img1 {
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(../images/img2.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x:center;
    padding-top: 1rem;
}
@media (min-width:1280px) {
    .img2 {
        background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(../images/img3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y:center;
        background-position-x: center;
    }        
}

body, html {
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory!important;
}
@media (min-width:1040px) {
    .snap {
        scroll-snap-align: start!important;
        height: 100vh;
        overflow:hidden;
    }    
}

header {
    position: relative;
    width: 95%;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    border-top: 1px solid #099e66;
    border-bottom: 1px solid #099e66;
}
@media (min-width:900px) {

    .header-btn:hover {
        border-radius: 5px;
    }
    .animate {
        transition: transform 700ms;
    }
    .animate:hover {
        transform: translateY(-1rem);
        cursor: pointer;
    }
   
}
.header {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top:0.5rem;
}
.hdr-btn-cont {
    width: 100%;
    display: flex;
    justify-content: end;
    color: var(--color-textwhite);
    gap: 30px;
}

.hamburger {
    position: relative;
    width: 55px;
    display: block;
    cursor:pointer;
    height: 32px;
    outline: none;
    border: none;
    background: none;
    appearance: none;
    margin:0 1.2rem;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: end;
    
}


.bar,.hamburger::after,.hamburger::before {
    width: 100%;
    display: block;
    content: "";
    height: 3px;
    margin: 4px 0px;
    transition: 0.2s;
    border-radius: 4px;
    background-color:var(--color-textwhite);
}
.hamburger::after {
    width: 30px;
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-8px,-4px);
    width: 100%;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px,5px);
}

.hamburger.is-active .bar{
    opacity: 0;
}

.mob-page {
    display: block;
    background:var(--color-secondary);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 100%;
    top: 0;
    transition: 0.3s;
}

.mob-page.is-active {
    left: 0;
    top: 0;
}
body.is-active {
    overflow: hidden!important;
}

.mob-page {
    z-index: 10!important;
    display: grid;
    grid-template-columns: minmax(1rem,20rem) minmax(1rem,20rem);
    grid-template-rows: 5rem 5rem 5rem 5rem;
    place-content: center;
    gap: clamp(1rem,1.5vw,2.5rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.mob-links {
    color: var(--color-textwhite);
}

.btn {
    --border-color: white;
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg:black;
    --color: white;
    color: var(--color);
      /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
              /* Top-left */
              0% var(--curve-size),
  
              var(--curve-size) 0,
              /* top-right */
              100% 0,
              100% calc(100% - var(--curve-size)),
  
              /* bottom-right 1 */
              calc(100% - var(--curve-size)) 100%,
              /* bottom-right 2 */
              0 100%);
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: #099e66;
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }
  
    50% {
      background-position: 70% 100%
    }
  
    100% {
      background-position: 31% 0%
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
              /* Top-left */
              var(--border-width) 
              calc(var(--curve-size) + var(--border-width) * .5),
  
              calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width)) 
              var(--border-width),
  
              calc(100% - var(--border-width)) 
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
              /* bottom-right 2 */
              var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
                  /* Top-left */
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      
                  calc(100% - var(--border-width))
  
                  var(--border-width),
      
                  /* top-right */
                  calc(100% - var(--border-width))
  
                   var(--border-width),
      
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
      
                  /* bottom-right 1 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                  calc(100% - var(--border-width)),
  
                  /* bottom-right 2 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                  calc(100% - var(--border-width)));
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: var(--color);
  }

.cssbuttons-io-button {
    background: var(--color-primary);
    color: var(--color-textblack);
    padding: 0.35em;
    padding-left: 1.2em;
    border-radius: 0.9em;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--color-primary);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    border:none;
  }
  
  .cssbuttons-io-button .icon {
    background: var(--color-secondary);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--color-primary);
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--color-primary);
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}


.info-card {
    box-shadow: 0px 0px 8px var(--color-primary);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.box span {
    color: var(--color-primary);
    font-size: 1.8rem;
}

.box p {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.8rem;
    color: var(--color-textwhite);
}
.box select {
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    color: var(--color-textwhite);
    border: 2px solid var(--color-primary);
    border-radius: 2px;
    outline: none;
    background-color: var(--color-secondary);
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    background-color: var(--color-primary);
}

.box button {
    font-size: 1.3rem;
    font-family: poppins;
    background-color:var(--color-secondary);
    border: 2px solid var(--color-primary);
    width: 100%;
    color: var(--color-textwhite);
    border-radius: 2px;
    padding:0.7rem 0;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
}

.box button:active {
    color: var(--color-textblack);
    cursor: pointer;
    scale:1.02;
    opacity: 0.2;
}


.box img {
    display: inline-block;
    width: 20px;
    height: 20px;
    object-fit:cover;
    margin-right: 10px;
}
.box p .car-svg {
    display: inline-block;
    width: 40px;
     height: 40px;
    padding-top: 25px;
    margin-right: 10px;
}
.box p .calendar-svg {
    display: inline-block;
    width: 25px;
    height: 24px;
    padding-top: 1px;
    margin-right: 10px!important;
}

@media (min-width:640px) {
    .box button {
        padding: 0.6rem 0;
    }
}

@media (min-width:1000px) {
    .box button {
        height: 55%;
        width: 100%;
    }
    .box input {
        width: 92%;
    }
    .box select {
        width: 92%;
    }

}




.pick-vehicles {
    display: flex;
    flex-direction:column;
    margin-top: 5rem;
    gap: 0px!important;
}
.pick-selection {
    max-width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.pick-selection img {
    width: 90%;
}
.pick-selection-cont {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 0.7rem;
    
}
.car-names {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0 0.7rem;
}
.car-names button {
    padding: 1rem 0;
    padding-left: 1.3rem;
    width: 100%;
    border: none;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: bold;
    text-align: start;
    background-color: var(--color-primary);
    color: var(--color-textblack);
}
.car-names button:hover {
    background-color: #e8dede;
    transition: all 0.15s;
    cursor: pointer;
}

.rent-table {
    display: grid;
    grid-template-columns: 1fr;
}
.rent-head {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-textblack);
    padding-top: 5px;
    padding-bottom: 5px;
}
.rent-head span:first-child {
    font-size: 1.8rem;
    font-family: poppins;
    font-weight: bold;
}
.rent-head span:last-child {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0.5rem;
    font-weight: 540;
}
.rent-table div:not(.rent-head) {
    display: flex;
    border: 1.5px solid var(--color-primary);
    justify-content: center;
    align-items: center;
}
.spec-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.spec {
    text-align: center;
    font-size: 1.3rem;
    border-right: 2px solid var(--color-primary);
    width: 50%;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    color: var(--color-textwhite);
}
.spec-ans {
    width: 1.5rem;
    font-size: 1.3rem;
    width:50%;
    color: var(--color-textwhite);
    padding: 0.5rem 2rem 0.5rem 2rem;
}
.tbl-reserve-btn {
    background-color:var(--color-primary);
    color: var(--color-textblack);
    margin-top: 1rem;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.15s;
}
.tbl-reserve-btn:hover {
    background-color: var(--color-secondary);
    color: var(--color-textwhite);
}
.tbl-reserve-btn:active {
    scale: 0.95;
    opacity: 0.5;
}

@media (min-width:700px) {
  .pick-vehicles {
    gap: 3rem!important;
  }
  .pick-selection-cont {
    flex-direction: row!important;
  }
  .pick-selection img {
    width: 100%;
  }
}
@media (min-width:1040px) {
    .pick-vehicles {
        flex-direction: row;
        justify-content: center;
        gap: 0!important;
    }
    .car-names {
        width:19rem;
    }
    .pick-selection-cont {
        gap: 0px!important;
    }
    .pick-selection {
        margin-top: 0;
    }
}
@media (max-width:700px) {
    .pick-selection-cont {
        align-items: center;
    }
}

/* pop up effect */
.reveal {
    position: relative;
    transform: translateY(20px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/*inventory page*/
.card {
    color:black;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.277);
    padding: 12px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card .top-section {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(52, 51, 51, 0.662) 0%, rgba(159, 158, 158, 0.574) 100%);
    position: relative;
    min-height: 228px;
  }
  
  .card .top-section .border {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: white;
    background: #099e66;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 black;
  }
  
  .card .top-section .border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
  }
  
  .card .top-section::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(255, 255,255, 0);
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
  }
  
  .card .top-section .icons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .card .top-section .icons .logo {
    height: 100%;
    aspect-ratio: 1;
    padding: 7px 0 7px 15px;
  }
  
  .card .top-section .icons .logo .top-section {
    height: 100%;
  }
  
  .card .top-section .icons .social-media {
    height: 100%;
    padding: 8px 15px;
    display: flex;
    gap: 7px;
  }
  
  .card .top-section .icons .social-media .svg:hover {
    stroke: #099e66;
    fill: transparent;
  }
  
  
  .card .bottom-section {
    margin-top: 15px;
  }
  
  .card .bottom-section .title {
    display: block;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    text-align: center;
  }
  
  .card .bottom-section .row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card .bottom-section .row .item {
    padding: 5px;
    text-align: center;
    text-wrap: nowrap;
    color: white;
    font-weight:600;
  }
  
  .card .bottom-section .row .item .big-text {
    font-size: 12px;
    display: block;
  }
  
  .card .bottom-section .row .item .regular-text {
    font-size: 9px;
    color: white;
    font-weight: 600;
  }
  
  .card .bottom-section .row .item:nth-child(2) {
    border-left: 2px solid #099e66;
  }