:root {
    --color-primary:#ffd71b;
    --color-secondary:white;
}
html {
    scroll-behavior: smooth!important;
}
body {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
.img1 {
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(../images/img2.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x:center;
    padding-top: 1rem;
}
@media (min-width:1280px) {
    .img2 {
        background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(../images/img3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y:center;
        background-position-x: center;
    }        
}

body, html {
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory!important;
}
@media (min-width:1040px) {
    .snap {
        scroll-snap-align: start!important;
        min-height: 100vh;
        overflow:hidden;
    }    
}

main .snap:first-of-type {
    height: 100%;
}

header {
    position: relative;
    width: 95%;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    border-top: 1px solid #ffd71b;
    border-bottom: 1px solid #ffd71b;
}
@media (min-width:900px) {

    .header-btn:hover {
        border-radius: 5px;
    }
    .animate {
        transition: transform 700ms;
    }
    .animate:hover {
        transform: translateY(-1rem);
        cursor: pointer;
    }
   
}
.header {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top:0.5rem;
}
.hdr-btn-cont {
    width: 100%;
    display: flex;
    justify-content: end;
    color: var(--color-secondary);
    gap: 30px;
}

.hamburger {
    position: relative;
    width: 55px;
    display: block;
    cursor:pointer;
    height: 32px;
    outline: none;
    border: none;
    background: none;
    appearance: none;
    margin:0 1.2rem;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: end;
    
}


.bar,.hamburger::after,.hamburger::before {
    width: 100%;
    display: block;
    content: "";
    height: 3px;
    margin: 4px 0px;
    transition: 0.2s;
    border-radius: 4px;
    background-color:var(--color-secondary);
}
.hamburger::after {
    width: 30px;
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-8px,-4px);
    width: 100%;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px,5px);
}

.hamburger.is-active .bar{
    opacity: 0;
}

.mob-page {
    display: block;
    background:black;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 100%;
    top: 0;
    transition: 0.3s;
}

.mob-page.is-active {
    left: 0;
    top: 0;
}


.mob-page {
    display: flex;
    gap: 2.3rem;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    z-index: 10!important;
}

.mob-links {
    margin-top: 1.4rem;
    color: var(--color-secondary);
    font-size: 3rem;
    text-decoration: none;
}

.cssbuttons-io-button {
    background: #ffd71b;
    color: black;
    padding: 0.35em;
    padding-left: 1.2em;
    border-radius: 0.9em;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #ffd71b;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    border:none;
  }
  
  .cssbuttons-io-button .icon {
    background: black;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #ffd71b;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #ffd71b;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}


.info-card {
    box-shadow: 0px 0px 8px var(--color-primary);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.box span {
    color: var(--color-primary);
    font-size: 1.8rem;
}

.box p {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.8rem;
    color: var(--color-secondary);
}
.box select {
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    color: white;
    border: 2px solid var(--color-primary);
    border-radius: 2px;
    outline: none;
    background-color: black;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    background-color: #ffd71b;
}

.box button {
    font-size: 1.3rem;
    font-family: poppins;
    background-color:black;
    border: 2px solid var(--color-primary);
    width: 100%;
    color: white;
    border-radius: 2px;
    padding:0.7rem 0;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
}

.box button:active {
    color: black;
    cursor: pointer;
    scale:1.02;
    opacity: 0.2;
}


.box img {
    display: inline-block;
    width: 20px;
    height: 20px;
    object-fit:cover;
    margin-right: 10px;
}
.box p .car-svg {
    display: inline-block;
    width: 40px;
     height: 40px;
    padding-top: 25px;
    margin-right: 10px;
}
.box p .calendar-svg {
    display: inline-block;
    width: 25px;
    height: 24px;
    padding-top: 1px;
    margin-right: 10px!important;
}

@media (min-width:640px) {
    .box button {
        padding: 0.6rem 0;
    }
}

@media (min-width:1000px) {
    .box button {
        height: 55%;
        width: 100%;
    }
    .box input {
        width: 92%;
    }
    .box select {
        width: 92%;
    }

}




.pick-vehicles {
    display: flex;
    flex-direction:column;
    margin-top: 5rem;
    gap: 0px!important;
}
.pick-selection {
    max-width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.pick-selection img {
    width: 90%;
}
.pick-selection-cont {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 0.7rem;
    
}
.car-names {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0 0.7rem;
}
.car-names button {
    padding: 1rem 0;
    padding-left: 1.3rem;
    width: 100%;
    border: none;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: bold;
    text-align: start;
    background-color: var(--color-primary);
    color: black;
}
.car-names button:hover {
    background-color: rgb(178, 167, 167);
    transition: all 0.15s;
    cursor: pointer;
}

.rent-table {
    display: grid;
    grid-template-columns: 1fr;
}
.rent-head {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.rent-head span:first-child {
    font-size: 1.8rem;
    font-family: poppins;
    font-weight: bold;
}
.rent-head span:last-child {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0.5rem;
    font-weight: 540;
}
.rent-table div:not(.rent-head) {
    display: flex;
    border: 1.5px solid var(--color-primary);
    justify-content: center;
    align-items: center;
}
.spec-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.spec {
    text-align: center;
    font-size: 1.3rem;
    border-right: 2px solid var(--color-primary);
    width: 50%;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    color: white;
}
.spec-ans {
    width: 1.5rem;
    font-size: 1.3rem;
    width:50%;
    color: white;
    padding: 0.5rem 2rem 0.5rem 2rem;
}
.tbl-reserve-btn {
    background-color:var(--color-primary);
    color: black;
    margin-top: 1rem;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}
@media (min-width:700px) {
  .pick-vehicles {
    gap: 3rem!important;
  }
  .pick-selection-cont {
    flex-direction: row!important;
  }
  .pick-selection img {
    width: 100%;
  }
}
@media (min-width:1040px) {
    .pick-vehicles {
        flex-direction: row;
        justify-content: center;
        gap: 0!important;
    }
    .car-names {
        width:19rem;
    }
    .pick-selection-cont {
        gap: 0px!important;
    }
    .pick-selection {
        margin-top: 0;
    }
}
@media (max-width:700px) {
    .pick-selection-cont {
        align-items: center;
    }
}

/* pop up effect */
.reveal {
    position: relative;
    transform: translateY(20px);
    opacity: 0;
    transition: all 1s ease;
 }
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/* testimonials */

.card {
    overflow: visible;
    width: 190px;
    height: 254px;
  }
  
  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
  .front, .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #ffd71b, #ffd71b, #ffd71b, #ffd71b, transparent);
    animation: rotation_481 5000ms infinite linear;
  }
  
  .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .card:hover .content {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  
  .front {
    transform: rotateY(180deg);
    color: white;
  }
  
  .front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }
  
  .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
  
  .title {
    font-size: 11px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .title p {
    width: 50%;
  }
  
  .card-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
  }
  
  .front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffbb66;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
  }
  
  #bottom {
    background-color: #ff8866;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
  }
  
  #right {
    background-color: #ff2233;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }

